{% extends "base.html" %}

{% block content %}
    <h1>Student List</h1>

    {% if student_list %}
    <ul>

      {% for student in student_list %}
      <li>
        <a href="{{ student.get_absolute_url }}">{{ student.SFName }}</a> ({{student.SLNmae}} {{student.SEmail}} {{student.SClass}} {{student.SAddress}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no students registered.</p>
    {% endif %}       
    <p> Click <a href="/firstdb/getstudentinfo/"></a> to add new record. </p>
{% endblock %}
